<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h2>Home</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat, mauris vel interdum sagittis, libero
      dui hendrerit est, nec sodales diam nibh sit amet sapien. Donec vitae blandit dui. Sed malesuada lorem odio, vel
      fringilla nulla blandit ultrices. Mauris non aliquet nisl. Praesent faucibus enim ultricies congue consequat. Nunc
      leo ex, dapibus non pellentesque varius, finibus vitae quam. Maecenas magna dolor, euismod non lectus eget, luctus
      blandit quam. Etiam ac tempus augue.</p>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h2>Profile</h2>

    <p>Phasellus sed enim sed dolor elementum rutrum et id nisi. Vestibulum ut ante mattis ex malesuada faucibus
      tincidunt sit amet massa. Aenean aliquam, ipsum ut commodo molestie, ipsum nulla finibus orci, sed luctus diam
      libero sit amet magna. Vivamus suscipit eros vitae eros facilisis gravida. Aenean in sagittis felis, ut cursus
      nibh. Pellentesque ut urna nec sem tincidunt imperdiet. Pellentesque fringilla egestas dictum. Fusce pellentesque
      pretium odio, sit amet ornare turpis dictum vel. Ut laoreet diam in risus fermentum, et sagittis urna fringilla.
      Praesent posuere viverra massa, vel fermentum est ornare ultrices. Pellentesque vehicula dictum magna vel
      pellentesque. Mauris sollicitudin diam quis mi molestie congue.</p>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <h2>Contact</h2>

    <p>Phasellus molestie sem non neque fermentum finibus in aliquam nisl. Aenean auctor elit non dui pellentesque,
      pretium pretium est aliquam. In hendrerit quis magna non gravida. Phasellus imperdiet non diam eget ultricies.
      Maecenas accumsan pharetra ipsum, a vulputate magna commodo nec. Vivamus feugiat, orci ultricies fringilla
      pellentesque, nisl urna pretium ex, in convallis mauris mauris sed elit. Integer sit amet dignissim massa, quis
      porttitor odio. Phasellus euismod sem eu suscipit scelerisque. Curabitur blandit accumsan molestie. Curabitur
      rutrum, orci mattis fermentum placerat, nibh arcu consectetur mauris, vitae interdum dolor ligula eu lorem. Mauris
      auctor, velit maximus congue scelerisque, libero tellus pretium lacus, sagittis lacinia arcu ipsum id augue.
      Phasellus ut lectus mi. Nunc vel nisi nec orci egestas ornare. Praesent eleifend dui in felis pellentesque, eu
      pulvinar dolor rutrum. Nulla facilisis pulvinar nisi, id interdum augue laoreet ac. Ut eu interdum lorem.</p>
  </div>
</div>
